@media (min-width: 100px) and (max-width: 570px) {
html,
body {
	height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}
#map {
    display: none;
}
#list {
    width: 80%;
    margin: auto;
    align-content: center;
    text-align: center;
    border-bottom: 1px solid #dedede;
    padding-top: 0px;
    padding-bottom: 0px;
}
#list p{
    vertical-align: top;
    color: #0058a1;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}
#list img{ 
    position: relative;
    float: left;
    height: 200px;
    /*background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;*/
}
#list span::before { 
    display: none;
}
#reset {
    text-align: center;
    padding-top: 15px;
    display: none;
}
#reset button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: 1px solid #e2e2e2;
    background-color: #0058a1;
    color: #fff;
    font-family: sans-serif;
    font-size: 10px;
}
#mapbutton {
    display: none;
}
}
@media (min-width: 580px) and (max-width: 2880px){   
html,
body {
	height: 80%;
    width: 100%;
    margin: 0;
	line-height: 1.5;
}
#map {
    vertical-align: top;
    width: 100%;
	height: 45%;
    box-sizing : border-box;
}
#list {
    height: 50%;
    width: 100%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #dedede;
    box-sizing : border-box;
    /*padding-top: 0px;
    padding-bottom: 0px;*/
}
#list p{
    vertical-align: top;
    color: #0058a1;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}
#list img{ 
    position: relative;
    float: left;
    height: 250px;
    /*background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;*/
}
#listing button{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border: 1px solid #e2e2e2;
    background-color: #4e4e4e;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}
#reset {
    width: 100%;
    float: right;
    text-align: center;
    padding-top: 15px;
}
#reset button{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border: 1px solid #e2e2e2;
    background-color: #0058a1;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}
a {
	text-decoration: none;
    color: #2d2d2d;
    font-family: sans-serif;
}
}